[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-migrate = "*"
Flask-HTTPAuth = "*"
spotipy = {editable = true, git = "https://github.com/alexpogue/spotipy.git"}
gunicorn = "*"
psycopg2 = "*"
redis = "*"
PyMySQL = "*"

# commented to fix amqp pipenv error
#celery = "*"

[requires]
python_version = "3.7.1"
