[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
Flask-HTTPAuth = "*"
gunicorn = "*"
redis = "*"
PyMySQL = "*"
tekore = ">=1.1.0"

# commented to fix amqp pipenv error
celery = "*"

[requires]
python_version = "3.7.1"
