{% extends "base.html" %}
{% block content %}
<form action="#" id="spotify_url_form" onsubmit="submitNewBetEventForm();return false">
Spotify song URL: <input type="text" id="spotify_url_textbox"></input>
<input type="submit">
</form>
<p>
<span id="rawResults"></span>
<div id="results">
<span id="errorLabel"></span><br /><br />
Name: <span id="songName"></span><br />
Artist: <span id="songArtists"></span><br />
Album: <span id="songAlbum"></span><br /><br />
Playlists:<br />
<ul id="playlistList">
</ul>
<span id="playlistCsvLink"></span>
</div>
</p>
<script>

function removeTrailingCharIfExists(url, theChar) {
    var lastSlash = url.lastIndexOf(theChar);
    if (lastSlash == url.length - 1) {
        url = url.substr(0, url.length - 1);
    }
    return url
}

function getNthLastSegment(input, separatorChar, indexFromEnd) {
    var inputCopy = (' ' + input).slice(1); // https://stackoverflow.com/a/31733628/3846218
    inputCopy = removeTrailingCharIfExists(inputCopy, separatorChar);
    var arr = inputCopy.split(separatorChar);
    var index = arr.length - 1 - indexFromEnd;
    return arr[index];
}

function getSpotifyIdFromLink(urlInput) {
    var parser = document.createElement('a');
    parser.href = urlInput;
    pathname = parser.pathname;
    return getNthLastSegment(pathname, '/', 0);
}

function getSpotifyTypeFromLink(urlInput) {
    var parser = document.createElement('a');
    parser.href = urlInput;
    pathname = parser.pathname;

    return getNthLastSegment(pathname, '/', 1);
}

function getSpotifyIdFromUri(uriInput) {
    return getNthLastSegment(uriInput, ':', 0);
}

function getSpotifyTypeFromUri(uriInput) {
    return getNthLastSegment(uriInput, ':', 1);
}

function getSpotifyQueryType(query) {
    firstFourChars = query.substring(0, 4)
    if (firstFourChars === "http") {
        return "link";
    }
    if (firstFourChars === "spot") {
        return "uri";
    }
}

function submitNewBetEventForm() {
    var spotifyQuery = $("#spotify_url_textbox").val();
    var queryType = getSpotifyQueryType(spotifyQuery);
    console.log("type = " + queryType);

    var spotifyId = null;
    var spotifyType = null;

    if (queryType === "link") {
        spotifyId = getSpotifyIdFromLink(spotifyQuery);
        spotifyType = getSpotifyTypeFromLink(spotifyQuery);
    }
    else if (queryType === "uri") {
        spotifyId = getSpotifyIdFromUri(spotifyQuery);
        spotifyType = getSpotifyTypeFromUri(spotifyQuery);
    }
    else {
        console.log("can't handle spotify type " + queryType + ". Aborting");
        return;
    }
    console.log('spotifyId = ' + spotifyId)
    console.log('spotifyType = ' + spotifyType)

    if (spotifyType == 'track') {
        $.get("/track/?spotify_id="+spotifyId, {},
            function(track) {
                $('#errorLabel').text('');
                $('#playlistList').text('');
                $('#songName').text('');
                $('#songArtists').text('');
                $('#songAlbum').text('');
                $('#playlistCsvLink').text('');

                if ($.isEmptyObject(track)) {
                    $('#errorLabel').text('Error: Track not found in database (does not exist in any playlists)');
                    return;
                }

                $('#songName').text(track.name);
                var artistNames = $.map(track.artists, function(artist) { return artist["name"] });
                $('#songArtists').text(artistNames.join(', '))
                $('#songAlbum').text(track.album["name"]);

                $.each(track.playlists, function(index, playlist) {
                    console.log(playlist);
                    var playlistUrl = playlist.external_urls["spotify"];
                    var trackRankInPlaylist = playlist.track_rank
                    var trackAddedAt = playlist.added_at
                    var playlistLink = "<a href=\"" + playlistUrl + "\">" + playlist.name + "</a>";
                    var internalList = '<ul><li>Current position: ' + trackRankInPlaylist + '</li><li>Added at: ' + trackAddedAt + '</li></ul>';
                    $('#playlistList').append($('<li>', {
                        html: playlistLink
                    })).append(internalList);

                });
                var playlistCsvAnchor = "<a href=\"/track/csv?spotify_id=" + track.id + "\">Download CSV</a>";
                $('#playlistCsvLink').html(playlistCsvAnchor);

                console.log(track);
            });
    } else if (spotifyType == "album") {
        $.get("/album/?spotify_id="+spotifyId, {},
            function(album) {
                $('#errorLabel').text('');
                $('#playlistList').text('');
                $('#songName').text('');
                $('#songArtists').text('');
                $('#songAlbum').text('');

                if ($.isEmptyObject(album)) {
                    $('#errorLabel').text('Error: Album not found in database (none of its tracks are in the playlists we stored)');
                    return;
                }


                //$('#songName').text(album.name);
                var artistNames = $.map(album.artists, function(artist) { return artist["name"] });
                $('#songArtists').text(artistNames.join(", "))
                $('#songAlbum').text(album["name"]);

                //$.each(album.playlists, function(index, element) {
                //    $('#playlistList').append($('<li>', {
                //        text: element.name
                //    }));
                //});

                console.log(album);
        });
    }
}
</script>
{% endblock %}
