{% extends "base.html" %}
{% block content %}
<div class="spotify_url_form">
Spotify song URL: <input type="text" id="spotify_url_textbox"></input>
<button class="do_search">Search Playlists</button>
</div>
<div>
<span id="error_label"></span><br /><br />
Name: <span id="song_name"></span><br />
Artist: <span id="song_artists"></span><br />
Album: <span id="song_album"></span><br /><br />
Playlists:<br />
<ul id="playlist_list">
</ul>
<span id="playlist_csv_link"></span>
</div>
<script>
$( document ).ready( function() {
    $( '.spotify_url_form' ).on( 'click', '.do_search', function( event ) {
        submitNewBetEventForm()
    } );
} );
function removeTrailingCharIfExists(url, theChar) {
    var lastSlash = url.lastIndexOf(theChar);
    if (lastSlash == url.length - 1) {
        url = url.substr(0, url.length - 1);
    }
    return url
}

function getNthLastSegment(input, separatorChar, indexFromEnd) {
    var inputCopy = (' ' + input).slice(1); // https://stackoverflow.com/a/31733628/3846218
    inputCopy = removeTrailingCharIfExists(inputCopy, separatorChar);
    var arr = inputCopy.split(separatorChar);
    var index = arr.length - 1 - indexFromEnd;
    return arr[index];
}

function getSpotifyIdFromLink(urlInput) {
    var parser = document.createElement('a');
    parser.href = urlInput;
    pathname = parser.pathname;
    return getNthLastSegment(pathname, '/', 0);
}

function getSpotifyTypeFromLink(urlInput) {
    var parser = document.createElement('a');
    parser.href = urlInput;
    pathname = parser.pathname;

    return getNthLastSegment(pathname, '/', 1);
}

function getSpotifyIdFromUri(uriInput) {
    return getNthLastSegment(uriInput, ':', 0);
}

function getSpotifyTypeFromUri(uriInput) {
    return getNthLastSegment(uriInput, ':', 1);
}

function getSpotifyQueryType(query) {
    firstFourChars = query.substring(0, 4)
    if (firstFourChars === "http") {
        return "link";
    }
    if (firstFourChars === "spot") {
        return "uri";
    }
}

function submitNewBetEventForm() {
    var spotifyQuery = $("#spotify_url_textbox").val();
    var queryType = getSpotifyQueryType(spotifyQuery);
    console.log("type = " + queryType);

    var spotifyId = null;
    var spotifyType = null;

    if (queryType === "link") {
        spotifyId = getSpotifyIdFromLink(spotifyQuery);
        spotifyType = getSpotifyTypeFromLink(spotifyQuery);
    }
    else if (queryType === "uri") {
        spotifyId = getSpotifyIdFromUri(spotifyQuery);
        spotifyType = getSpotifyTypeFromUri(spotifyQuery);
    }
    else {
        console.log("can't handle spotify type " + queryType + ". Aborting");
        return;
    }
    console.log('spotifyId = ' + spotifyId)
    console.log('spotifyType = ' + spotifyType)

    if (spotifyType == 'track') {
        $.get("/track/?spotify_id="+spotifyId, {},
            function(track) {
                $('#error_label').text('');
                $('#playlist_list').text('');
                $('#song_name').text('');
                $('#song_artists').text('');
                $('#song_album').text('');
                $('#playlist_csv_link').text('');

                if ($.isEmptyObject(track)) {
                    $('#error_label').text('Error: Track not found in database (does not exist in any playlists)');
                    return;
                }

                $('#song_name').text(track.name);
                var artistNames = $.map(track.artists, function(artist) { return artist["name"] });
                $('#song_artists').text(artistNames.join(', '))
                $('#song_album').text(track.album["name"]);

                $.each(track.playlists, function(index, playlist) {
                    console.log(playlist);
                    var playlistUrl = playlist.external_urls["spotify"];
                    var trackRankInPlaylist = playlist.track_rank
                    var trackAddedAt = playlist.added_at
                    var playlistLink = "<a href=\"" + playlistUrl + "\">" + playlist.name + "</a>";
                    var internalList = '<ul><li>Current position: ' + trackRankInPlaylist + '</li><li>Added at: ' + trackAddedAt + '</li></ul>';
                    $('#playlist_list').append($('<li>', {
                        html: playlistLink
                    })).append(internalList);

                });
                var playlistCsvAnchor = "<a href=\"/track/csv?spotify_id=" + track.id + "\">Download CSV</a>";
                $('#playlist_csv_link').html(playlistCsvAnchor);

                console.log(track);
            });
    } else if (spotifyType == "album") {
        $.get("/album/?spotify_id="+spotifyId, {},
            function(album) {
                $('#error_label').text('');
                $('#playlist_list').text('');
                $('#song_name').text('');
                $('#song_artists').text('');
                $('#song_album').text('');

                if ($.isEmptyObject(album)) {
                    $('#error_label').text('Error: Album not found in database (none of its tracks are in the playlists we stored)');
                    return;
                }


                //$('#song_name').text(album.name);
                var artistNames = $.map(album.artists, function(artist) { return artist["name"] });
                $('#song_artists').text(artistNames.join(", "))
                $('#song_album').text(album["name"]);

                //$.each(album.playlists, function(index, element) {
                //    $('#playlist_list').append($('<li>', {
                //        text: element.name
                //    }));
                //});

                console.log(album);
        });
    }
}
</script>
{% endblock %}
